.userListContainer{
    min-height: 100%;
    padding: 2rem;
    background: url(./../../../assets/Wooden.jpg)no-repeat fixed ;
    background-size: cover;
    
}
table{
    .icon1{
        color: #197e00;
    }
    .icon2{
        color: red;
    }
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #c08a67;
        color: white;
        text-align: center;
      }
       
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 90%;
      
      
       td, th {
        border: 1px solid #ddd;
        padding: 8px;
        color: white;
        text-align: center;

      }
      
       /* tr:nth-child(even){background-color: #509cff;}
       tr:nth-child(odd){background-color: #81b6fc;} */
      
       tr:hover {background-color: #b8d7ff86;}
      
}
button {
    background: none;
    color: #fff;
    font-size: 1.2rem;
    font-family: "Poppins-Bold";
    border: 3px solid #fff;
    border-radius: 2rem;
    width: 25%;
    letter-spacing: 1px;
    position: absolute;
    z-index: 3;
    bottom: 1rem;
    padding: 1rem;
}

button:hover {
    box-shadow: 5px 5px 20px 0px #000;
    scale: 1.01;
}