<div class="userListContainer" fxLayout fxLayoutAlign="center start">
    <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; index as i">
            <td style="text-transform: capitalize;">{{ user.first_name }} {{user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td fxLayout=row fxLayoutAlign="space-evenly" fxLayoutGap="1rem">
              <mat-icon class="icon1" matTooltip="Edit User" (click)="editUser(user)">edit</mat-icon>
              <mat-icon class="icon2" matTooltip="Delete User" (click)="deleteUser(i)">delete</mat-icon>
            </td>
          </tr>
        </tbody>
      </table>
</div>

